<table class="table">
  <thead>
    <tr>
      <th>HistorialID</th>
      <th>DNI del paciente</th>
      <th>DNI del odontologo</th>
      <th>Tratamientos</th>
      <th>Total Costo</th>
      <th>Motivo consulta</th>
      <th>Fecha consulta</th>
      <th>Diagnostico</th>
      <th>Observaciones</th>
      <th>Alergias</th>
      <th>Antecedentes Medicos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let historial of historialclinico">
      <td>{{ historial.idhistorial }}</td>
      <td>{{ historial.dnipaciente }}</td>
      <td>{{ historial.dniodontologo }}</td>
      <td>
        <ul>
          <li *ngFor="let t of historial.tratamientos">
            {{ t.nombre }} - {{ t.costo | currency:'ARS' }}
          </li>
        </ul>
      </td>
      <td>{{ historial.totalCosto | currency:'ARS' }}</td>
      <td>{{ historial.motivodeconsulta }}</td>
      <td>{{ historial.fechadeconsulta }}</td>
      <td>{{ historial.diagnostico }}</td>
      <td>{{ historial.observaciones }}</td>
      <td>{{ historial.alergias }}</td>
      <td>{{ historial.antecedentesmedicos }}</td>
    </tr>
  </tbody>
</table>
