Facturacion:

<table class="table"  >
  <thead>
    <tr>
      <th scope="col">idfactura</th>
      <th scope="col">idpaciente</th>
      <th scope="col">montototal</th>
      <th scope="col">fechaemision</th>
      <th scope="col">metodopago</th>
     
 

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Facturacion of facturaciones; index as i; first as isFirst">
       <td>{{Facturacion.idfactura}}</td>     
      <td>{{Facturacion.idpaciente}}</td>
      <td>{{Facturacion.montototal}}</td>
      <td>{{Facturacion.fechaemision}}</td>
      <td>{{Facturacion.metodopago}}</td>
      

    </tr>
  </tbody>
</table>